<ion-header>
  <ion-toolbar [style.--background]="getColors()">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon
          slot="icon-only"
          name="arrow-back"
          class="text-white"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white">{{ social?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if(social) {
  <img [src]="social.imgUrl" alt="{{ social.name }}" class="w-full h-48 mb-4" />
  <div class="p-4">
    <p class="text-gray-600 mb-4">{{ social.history }}</p>
    <div class="w-full flex justify-center p-4 items-center text-center">
      <a
        [href]="social.webUrl"
        target="_blank"
        class="px-4 py-2 rounded text-white !text-white w-full"
        [style.background]="getColors()"
      >
        Visit {{ social.name }}
      </a>
    </div>
  </div>
  }
</ion-content>
